img {
	display:block;
}
.topspacer {
	width: 100%;
	height: 1000px;
}

.far-right {
	position: relative;
	left: 2000px;
}

iframe {
	width:600px;
	height:600px;
}

.min-scr3 {
	display: none;
}

/* SCREEN 3 and 4 - 768+px */
@media all and (min-width: 768px) {
    .min-scr3	{
    	display:block;
    }
}
